/* ************************************ Hintergrund *********************************/

*, *::before, *::after {
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 60em;
    background: linear-gradient(217deg, rgba(0, 0, 0, 0.9), rgba(255, 0, 0, 0.21) 70.71%),
            linear-gradient(127deg, rgba(0, 0, 0, 0.9), rgba(0, 255, 0, 0.384) 70.71%),
            linear-gradient(336deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 255, 0.568) 70.71%);
    background-repeat: no-repeat;
}

/* ************************************ Seiteninhalt Styling ************************/
.flashes{
    text-align: center;
    position: absolute;
    top: 163px;
    right: 150px;
    color: #ffffff;
    width:400px;
    max-width: 99%;
    height: 30px;
    background-color: #fd7014;
    border-radius: 9px;
    box-shadow: 3px 6px 9px #000000;
    animation: inVisible;
    animation-duration: 3.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    z-index: 1000;
}

@keyframes inVisible {
    100% {opacity:0;}
}

img {
    width: 300px;
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
}

hr {
    border: #00FFF5 solid 1px;
    width: 300px;
}

h1{
    color: #00adb5;
    font-family: 'Tahoma', sans-serif;
    text-align:center;
}


h2, h3{
    color: #00adb5;
    font-family: 'Tahoma', sans-serif;
    text-align: center;
}

h4 {
    color: #00adb5;
    font-family: 'Tahoma', sans-serif;
    text-align: left;
}

h5 {
    color: #00adb5;
}

h6{
    color:#00adb5;
    font-family: 'Tahoma', sans-serif;
    text-align: left;
}

p {
    font-size: 9px;
    color: #00adb5;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 9px;
    color: #00adb5;
    text-align: center;
}


.wide{
    width: 310px;
    height: 50px;
}

.box {
    border-radius: 15px;
    width: 50em;
    max-width: 95%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    background-color: #393e49;
}

.head_line{
    width: 50em;
    max-width: 100%;
    height: 10em;
    padding-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(#0a0022ea, #14044de0, #140c88b4);
    border-radius: 15px 15px 0 0;
}

#aussage_style {
    width: 800px;
    max-width: 85%;
    margin: 5px 0 3px 0;
    color: #00adb5;
    font-size: 16px;
}

#person {
    margin: auto;
    width: 50em;
    max-width: 99%;
    height: 80px;
}

.container{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300em;
    max-width: 99%;
    text-align: center;
}

.inner_container{
    display: flex;
    margin: auto;
    margin-top: 50px;  
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    max-width: 99%;
    text-align: center;
}


.container_anweisung{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 95%;
}

.anweisung{
    margin: auto;
    color: #00adb5;
    font-family: 'Tahoma', sans-serif;
    width: 50em;
    max-width: 99%;
    text-align: left;
}

li{
    list-style: none;
}

#startBtn {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 200px;
    max-width: 95%;
    height: 55px;
    border-radius: 20px;
    border-style: none;
    font-family: 'Muli';
    font-weight: bold;
    color: #00ADB5;
    background-color: #393E46;
    box-shadow: 2px 3px 4px #000000, -2px -2px 2px #00ADB5;
}

#container_auswertung{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    max-width: 98%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#antreiber_box {
    width: 30em;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 95%;
    text-align: left;
    border: #00FFF5 solid 1px;
    border-radius: 15px;
    background-color: #393E46;
    padding-left: 20px;
}

.erklaerBox{
    width: 30em;
    max-width: 90%;
    padding-left: 20px;
}

.subtitle{
    width: 100%;
    background-color: #0069b4;
    position: fixed;
    text-align: center;
    bottom: 0;
    color: #ffffff;
}

/* ***************************************  Modal Styling Hintergrund und Modal Box  ************************************/

.modal {
    display: none; /* Default: hidden */
    position: fixed; /* bleibt fixiert */
    z-index: 900; /* oberster layer */
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto; /*falls nötig auch scrollbar */
    background-color: #f6f6f6; /*fallback Farbe */
    background-color: rgba(20, 28, 59, 0.4);
    /*backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);*/
}

/* slightly transparent fallback */
.backdrop-blur {
    background-color: rgba(21, 21, 44, 0.75);
  }
   
  /* if backdrop support: very transparent and blurred */
  @supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur {
      background-color: rgba(21, 21, 44, 0.75);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }


/********************************************  Modal Content / Box  ******************************************************/

.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(38, 39, 75, 0.5);
    margin: 15% auto; /* 15% von oben aus und zentriert */
    padding: 20px; /*Abstand innen vom Rahmen sind 20 pixel */
    border: none; /*Keinen Rand, dafür kommt Schatten dazu*/
    border-radius: 25px;
    width: 800px;
    max-width: 85%; /* kleiner oder größer, je nach Bildschirmgröße*/
    height: 500px;
    box-shadow: 9px 9px 10px #000000, -1px -1px 10px #00adb5; /*Hier kommt der Schatten. Start mit schwarz und weiß. Ggf. anpassen*/
}

.btn-grid {
    width: 800px;
    padding: 10px;
    max-width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: none;
}

.btn {
    width: 110px;
    height: 55px;
    border-radius: 20px;
    border-style: none;
    margin: 5px 10px;
    font-family: 'Muli';
    font-weight: bold;
    color: #00adb5;
    background-color: #393e46;
    box-shadow: 2px 3px 4px #000000, -2px -2px 3px #00adb5;
}

#nextBtn{
    width: 80px;
    height: 45px;
    border-radius: 25px;
    border-style: none;
    font-family: 'Muli';
    font-weight: bold;
    color: #00adb5;
    background-color: #393e46;
    box-shadow: 2px 3px 4px #000000, -2px -2px 3px #00adb5;
}

.btn:hover, #startBtn:hover, #nextBtn:hover {
    transform: scale(1,1);
    box-shadow: inset 0 0 0 0 rgba(38, 193, 204, 0.7);
    border: #00fff5 solid 1px;
    text-transform: uppercase;
    color: #00fff5;
    cursor: pointer;

}

.btn:focus {
    color: #393e46;
    background-color: #00adb5;
    
}

.reg{
    width: 80px;
    height: 20px;
}

.hide {
    display: none;
}

.ecke{
    position: fixed;
    top: 50px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
}

#print {
    margin: 100px 50px;
}

@media print{
    html, body {
        height: 99%;
    }
    .noprint {
        display: none;
    }
}
/***********************************   Checkbox as a switch   ************************************************/
.checkbox {
    position: relative;
    left: 30px;
    top: 0px;
    z-index: 0;
    -webkit-appearance: none;
  }
.checkbox + label {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.3;
    padding-left:70px;
    position: relative;
    margin-top: -30px;
  }
.checkbox + label:before {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #ddd;
    background-color: #EEE;
    content: "";
    margin-right: 15px;
    transition: background-color 0.5s linear;
    z-index: 5;
    position: absolute;
    left: 0px;
  }
.checkbox + label:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    content: "";
    transition: margin 0.1s linear;
    box-shadow: 0px 0px 5px #aaa;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 10;
  }
.checkbox:checked + label:before {
    background-color: #00fff5;
  }
.checkbox:checked + label:after {
    margin: 0 0 0 30px;
  }